# Python
__pycache__/
*.pyc
*.pyo
*.h5
*.pkl
*.pt
*.zip
*.csv
*.txt
data/
.ipynb_checkpoints/

# Secrets
.env
backend/.env

# Node
node_modules/
dist
dist-ssr
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?